

#menuoverlay_imStickyBar_pluginAppObj_02 {
    z-index: 10702;
    box-sizing: border-box;
}

body.menuoverlay_overflow_imStickyBar_pluginAppObj_02 {
    /*overflow: hidden;*/
}

#imStickyBar_pluginAppObj_02 .hamburger-button {
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: top;
    padding: 0;   
    background-color: transparent;
    background-size: contain;
    background-image: none;
    border-color: rgba(0, 0, 0, 1);
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    transition: .3s;
    
}

.imStickyBar_pluginAppObj_02_menuoverlay .imStickyBar_pluginAppObj_02-overlay-close.show {
    opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 500ms;
	transition: opacity 500ms;
}

.imStickyBar_pluginAppObj_02_menuoverlay .imStickyBar_pluginAppObj_02-overlay-close.hide{
    opacity: 0;
    visibility: hidden;
	-webkit-transition: opacity 500ms, visibility 0s 500ms;
	transition: opacity 500ms, visibility 0s 500ms;
}


#imStickyBar_pluginAppObj_02 .hamburger-button > div {
    display: table;
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}

#imStickyBar_pluginAppObj_02 .hamburger-button > div > div {
    display: table-cell;
    vertical-align: middle;
}

#imStickyBar_pluginAppObj_02 .hamburger-button > div > div .hamburger-bar {
    margin: 3px auto;
    width: 65%;
    height: 3px;
    background-color: rgba(0, 0, 0, 1);
    display: block;
    transition: .3s;
    
}

#imStickyBar_pluginAppObj_02 .hamburger-button.hide {
    
}

#imStickyBar_pluginAppObj_02 .hamburger-button.hide > div > div .hamburger-bar:first-child{
    transform: translateY(15px);
    opacity: 0;
  }

#imStickyBar_pluginAppObj_02 .hamburger-button.hide > div > div .hamburger-bar:nth-child(2){
    transform: rotate(180deg);
  }

#imStickyBar_pluginAppObj_02 .hamburger-button.hide > div > div .hamburger-bar:last-child{
    transform: translateY(-15px);
    opacity: 0;
}




/* Overlay style */
.imStickyBar_pluginAppObj_02_menuoverlay {
    z-index: 10702;
	position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* Overlay style */
.imStickyBar_pluginAppObj_02_menuoverlay_back {
	position: absolute;
	bottom: 0;
	top: 0;
    left: 0;
    right: 0;
    background:  rgba(255,255,255,0.9);
    
    opacity: 0.9;
}


.imStickyBar_pluginAppObj_02_menuoverlay.open {
	opacity: 1;
}

/* Overlay closing cross */
.imStickyBar_pluginAppObj_02_menuoverlay .imStickyBar_pluginAppObj_02-overlay-close {
    width: 37.24px;
    height: 37.24px;
	position: absolute;
	right: 40px;
	top: 40px;
	overflow: hidden;
	z-index: 100;
    cursor: pointer;
}

.imStickyBar_pluginAppObj_02_menuoverlay .imStickyBar_pluginAppObj_02-overlay-close svg {
	position: absolute;
	right: 0;
	top: 0;
    left: 0;
    right: 0;
	z-index: 100;
    fill: rgba(0, 0, 0, 1);
    -webkit-transition: 0.4s ease-out;
    -moz-transition:  0.4s ease-out;
    transition:  0.4s ease-out;
}

.imStickyBar_pluginAppObj_02_menuoverlay .imStickyBar_pluginAppObj_02-overlay-close svg:hover {
    fill: rgba(255, 0, 0, 1);
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

/* Menu style */
.imStickyBar_pluginAppObj_02_menuoverlay nav {
	text-align: center;
	position: relative;
    top: 50%;
	transform: translateY(-50%);
    overflow: auto;
}

.imStickyBar_pluginAppObj_02_menuoverlay nav.scrollingshadows {
    background: 
    /* Shadow covers */
    linear-gradient(transparent 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), transparent 70%) 0 100%, 
    /* Shadows */
    radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
    background-repeat: no-repeat;
    background-size: 100% 0px, 100% 16px;
    /* Opera doesn't support this in the shorthand */
    background-attachment: local, local, scroll, scroll;
    background-position-x: center;
}

.imStickyBar_pluginAppObj_02_menuoverlay nav.disable-scrollbars::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
}

.imStickyBar_pluginAppObj_02_menuoverlay nav.disable-scrollbars {
      scrollbar-width: none; /* Firefox */
      -ms-overflow-style: none;  /* IE 10+ */
}

.imStickyBar_pluginAppObj_02_menuoverlay nav.plus-eight {
    height: 80%;
}

.imStickyBar_pluginAppObj_02_menuoverlay nav.plus-five {
    height: 70%;
}

.imStickyBar_pluginAppObj_02_menuoverlay nav.plus-three {
   height: 60%;
}

.imStickyBar_pluginAppObj_02_menuoverlay nav.max-three {
   height: 50%;
}

.imStickyBar_pluginAppObj_02_menuoverlay ul {
    list-style: none;
	padding: 0;
	margin: 0 auto;
	display: inline-block;
	height: 100%;
	position: relative;
}

.imStickyBar_pluginAppObj_02_menuoverlay ul li {
    min-height: 37.24px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imStickyBar_pluginAppObj_02_menuoverlay ul li a {
	display: block;
	transition: color 0.2s;
    text-decoration: none;
    font-family: Tahoma;
    font-size: 14pt;
    font-weight: normal;
    font-style: normal;
	color: rgba(0, 0, 0, 1);
    ;
}

.imStickyBar_pluginAppObj_02_menuoverlay ul li:not(.pwNotHover) a:hover, .imStickyBar_pluginAppObj_02_menuoverlay ul li.pwHover a {
	transition: color 0.2s;
    font-weight: normal;
    font-style: normal;
    text-decoration: underline;
	color: rgba(255, 0, 0, 1);
    ;
}

.imStickyBar_pluginAppObj_02_menuoverlay ul li.imMnMnCurrent a {
	transition: color 0.2s;
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
	color: rgba(255, 0, 0, 1);
}